
/* Your CSS Code here. */
.con{
	display :flex;
	justify-content : center ;
	flex-wrap : wrap;
	font-size : 50px ;
}
#p1{
	height : 200px;
	width : 200px;
	background-color : green ;
}
#p2{
	height : 200px;
	width : 200px;
	background-color : red ;
}
#p3{
	height : 200px;
	width : 200px;
	background-color : blue ;
}